* {
    margin: 0;
  }
  header {
    background-color: #3c743c;
  }
  nav {
    display: inline-flex;
  }
  .logo a {
    margin: 10px;
    font-size: x-large;
    cursor: pointer;
    color: #ffffff;
  }
  ul {
    margin-left: 800px;
    margin-top: 15px;
  }
  li,
  a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    font-size: large;
  }
  .sobre {
    color: #000000;
    justify-self: center;
    margin-top: 40px;
  }
  div p {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #b1b1b1;
    border-radius: 10px;
    margin-left: 380px;
    padding: 20px;
    display: inline-block;
    align-items: center;
    font-size: large;
  }
  footer {
    background-color: #696969;
    justify-self: center;
    margin: 0%;
    padding-left: 459px;
    padding-right: 459px;
    margin-top: 200px;
  }
  .direitos {
    color: #ffffff;
    padding: 10px;
    font-size: large;
  }
  